::ng-deep.mat-dialog-container {
    border: double 5px #fff;
    text-align: center;
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow-primary);
}

.alert-title {
    text-align: center;
    font-family: var(--title-primary-font);
    font-size: 2rem;
}

.alert-content {
    margin: 0;
    width: 100%;
    font-size: 1.3rem;
    padding: 1rem;
    font-family: var(--body-font);
    text-align: center;
}

.alert-btn-box {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

::ng-deep .mat-button-focus-overlay {
    background-color: transparent!important;
}

.alert-btn {
    padding: 0.2rem;
    margin-bottom: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: solid 3px var(--menu-theme-color);
    background-color: transparent;
    border-radius: 0;
    width: 50%;
}

.ok-btn {
    outline-color: var(--lime-border-color);
    color: var(--lime-border-color);
}

.cancel-btn {
    outline-color: #ff000060;
    color: #ff000060;
}

.cancel-btn:hover {
    outline-color: #ff0000;
    color: #ff0000;
}

@media only screen and (max-width: 574px) {
    .alert-btn {
        margin-bottom: 0.5rem;
        width: 100%;
    }
}

