.main-content {
    display: flex;
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

@supports ( -webkit-touch-callout : none) {
    .main-content {
        background: rgb(24,24,29);
        background: linear-gradient(180deg, rgb(29, 6, 31) 8%,rgb(56, 6, 52)  62%, rgb(65, 25, 83) 100%) !important;
    }
}

.app-title {
    height: calc(1rem + 10vw);
    margin: 5rem 0;
    width: 100%;
    justify-content: center;
    font-size: calc(2rem + 2vw);
    font-family: var(--body-font);
    font-weight: 100;
    background-color: transparent;
    text-shadow:
               0px 0px 10px #dab0cf,
               0px 0px 10px #520831,
               0px 0px 10px #3d0238;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: transparent;
}

.form-movie-content {
    width: 40vw;
    min-width: fit-content;
    background-color: var(--primary-bg);
    padding: 1.5rem;
    padding-top: 3rem;
    border-radius: 1rem;
    border: double 12px #ff007f;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.274);
    transition: 0.5;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-movie-btn {
    align-self: center;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.form-movie-btn button {
    width: 50%;
    font-size: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
}

.form-btn-action {
    outline: solid 3px var(--menu-theme-color);
    background-color: transparent;
    border-radius: 0;
}

.form-btn-action:first-of-type {
    outline-color: #7efc0060;
    color: #7efc0060;
}

.form-btn-action:last-of-type {
    outline-color: #ff000060;
    color: #ff000060;
}

.form-btn-action:first-of-type:hover {
    outline-color:#11ca0a;
    background-color: #11ca0a;
    color: var(--secondary-font-color);
}

.form-btn-action:last-of-type:hover {
    outline-color: #ff0000;
    background-color: #ff0000;
    color: var(--secondary-font-color);
}

@media only screen and (max-width: 760px) {
    .form-movie-btn {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    
    .form-movie-btn button {
        align-self: center;
        width: 100%;
    }

}