<div class="main-content">
  <div class="app-title">Save a Music</div>
  <mat-card class="home-content" >

      <!--START Muisc Register Form-->
      <mat-card-content class="form-movie-content">
        <form [formGroup]="register" (ngSubmit)="submit()" (ngReset)="cancel()" novalidate autocomplete="off">

            <app-input-text fieldName="Title" [formGroup]="register" controlName="title"></app-input-text>
            <app-input-text fieldName="Author" [formGroup]="register" controlName="author"></app-input-text>
            <app-input-text fieldName="Image URL" [formGroup]="register" controlName="imageURL"></app-input-text>
            <app-input-date fieldName="Release Date" [formGroup]="register" controlName="releaseDate"></app-input-date>
            <app-input-number fieldName="Minutes" [formGroup]="register" controlName="duration" [max]="999"></app-input-number>
            <app-input-text fieldName="Video Link" [formGroup]="register" controlName="linkYoutube"></app-input-text>
            <app-input-select fieldName="Style" [formGroup]="register" controlName="style" [options]="styles"></app-input-select>
            <app-input-textarea fieldName="More Info" [formGroup]="register" controlName="moreInfo"></app-input-textarea>
            
            <mat-card-actions class="form-movie-btn">
              <button type="submit" class="form-btn-action" mat-raised-button>Save</button>
              <button type="reset" (click)="cancel()" class="form-btn-action" mat-raised-button>Cancel</button>
            </mat-card-actions>
        </form>
        </mat-card-content>
        <!--END Music Reguster Form-->

  </mat-card>
</div>