.main-content {
    display: flex;
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

@supports ( -webkit-touch-callout : none) {
    .main-content {
        background: rgb(24,24,29);
        background: linear-gradient(180deg, rgb(29, 6, 31) 8%,rgb(56, 6, 52)  62%, rgb(65, 25, 83) 100%) !important;
    }
}

.app-title {
    height: calc(15rem + 10vw);
    width: 100%;
    margin-bottom: 4rem;
    justify-content: center;
    font-size: calc(2rem + 2vw);
    font-family: var(--body-font);
    font-weight: 100;
    background-color: transparent;
    text-shadow:
               0px 0px 10px #dab0cf,
               0px 0px 10px #520831,
               0px 0px 10px #3d0238;
}

.home-content {
    width: 70%;
    border-radius: 1rem;
    padding: 0 1rem;
    display: grid;
    background-color: #9b06933d;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 25rem));
    gap: 3rem;
    justify-content: center;
}
  
.home-card {
    border-radius: 1rem;
    background-color: var(--primary-bg);
    padding: 1.7rem;
    transform: translateY(-12vh);
    border: double 12px #7efc0060;
    transition: 0.5;
    font-family: var(--body-font);
}

.home-card:hover {
    border-color: #7cfc00;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.274);
}

.card-movie-title {
    font-size: 1.6rem;
    font-family: var(--title-primary-font);
    font-weight: normal;
    padding-bottom: 1rem;
}

.card-movie-subtitle {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.card-movie-subtitle::before {
    content: '@';
}

.wrapper {
    width: 100%;
    margin: 1.4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}

.card-movie-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: transparent;
    box-shadow: none;
    color: #7efc0060;
    outline: solid 4px #7efc0060;
}

.card-movie-btn:hover {
    outline-color: #7cfc00;
    color: #7cfc00; 
}

@media only screen and (max-width: 1024px) {
    .home-card {
        transform: translateY(0);
    }

    .home-content {
        padding: 5rem 1rem;
        transform: translateY(-15vh);
    }
}