<div class="main-content" style="background-image: url(assets/img/cover.jpg)">

  <mat-toolbar class="app-title">My List</mat-toolbar>
  <div class="home-content">
  
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="card-movie-title">Angular Material @ngrx</mat-card-title>
        <mat-card-subtitle class="card-movie-subtitle">Check this Home</mat-card-subtitle>
      </mat-card-header>
      <div class="wrapper">
        <img mat-card-image class="card-img" src="assets/img/no-image.svg" alt="Angular Material 7">
      </div>
  
      <mat-card-content class="card-movie-content">
        <p>
          Angular Material with @ngrx and lazy loading, click OPEN button then
          you can see sidenav content (with the current store value)
        </p>
      </mat-card-content>
  
      <mat-card-actions>
        <button color="accent" class="card-movie-btn" (click)="open()" mat-raised-button>READ MORE</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="card-movie-title">Angular Material @ngrx</mat-card-title>
        <mat-card-subtitle class="card-movie-subtitle">Check this Home</mat-card-subtitle>
      </mat-card-header>
      
      <div class="wrapper">
        <img mat-card-image class="card-img" src="assets/img/no-image.svg" alt="Angular Material 7">
      </div>
      
      <mat-card-content class="card-movie-content">
        <p>
          Angular Material with @ngrx and lazy loading, click OPEN button then
          you can see sidenav content (with the current store value)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" class="card-movie-btn" (click)="open()" mat-raised-button>READ MORE</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="card-movie-title">Angular Material @ngrx</mat-card-title>
        <mat-card-subtitle class="card-movie-subtitle">Check this Home</mat-card-subtitle>
      </mat-card-header>

      <div class="wrapper">
        <img mat-card-image class="card-img" src="assets/img/no-image.svg" alt="Angular Material 7">
      </div>
      <mat-card-content class="card-movie-content">
        <p>
          Angular Material with @ngrx and lazy loading, click OPEN button then
          you can see sidenav content (with the current store value)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" class="card-movie-btn" (click)="open()" mat-raised-button>READ MORE</button>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="card-movie-title">Angular Material @ngrx</mat-card-title>
        <mat-card-subtitle class="card-movie-subtitle">Check this Home</mat-card-subtitle>
      </mat-card-header>

      <div class="wrapper">
        <img mat-card-image class="card-img" src="assets/img/no-image.svg" alt="Angular Material 7">
      </div>
      <mat-card-content class="card-movie-content">
        <p>
          Angular Material with @ngrx and lazy loading, click OPEN button then
          you can see sidenav content (with the current store value)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" class="card-movie-btn" (click)="open()" mat-raised-button>READ MORE</button>
      </mat-card-actions>
    </mat-card>
  
  
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="card-movie-title">Angular Material @ngrx</mat-card-title>
        <mat-card-subtitle class="card-movie-subtitle">Check this Home</mat-card-subtitle>
      </mat-card-header>

      <div class="wrapper">
        <img mat-card-image class="card-img" src="assets/img/no-image.svg" alt="Angular Material 7">
      </div>
      <mat-card-content class="card-movie-content">
        <p>
          Angular Material with @ngrx and lazy loading, click OPEN button then
          you can see sidenav content (with the current store value)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" class="card-movie-btn" (click)="open()" mat-raised-button>READ MORE</button>
      </mat-card-actions>
    </mat-card>
  
  </div>
</div>